# Environment
DatabaseSecrets.env
.env

# Node
./node_modules/
dist/
build/
./Src/Kanban-Job-Tracker/node_modules/
../node_modules/

# IDE
.vs/
.idea/

# .Nett
bin/
obj/
*.user
appsettings.Development.json